*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #f0f0f0;
}
/****** logo section ******/
.logo-section {
    padding: 0.8rem 2.3rem 0.3rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-div {
    img {
        width: 9rem;
    }
}

.logo-section-2nd-div {
    width: 10%;
    gap: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-1 {
        width: 1.3rem;
        height: 1.4rem;
        filter: drop-shadow(0px, 4px, 4px, 0px, #000);
    }

    .img-2 {
        width: 1.3rem;
        height: 1.4rem;
    }

    .img-3 {
        width: 3rem;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
    }
}

/****** logo section ******/


/****Start navbar section ****/
.section-navbar-main {
    padding: 0.8rem 1.5rem 0.8rem 0.4rem;
    display: grid;
    place-items: center;
}

.section-navbar {
    background-color: white;
    width: 98%;
    padding: 1.3rem 0 1.3rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar-menu {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;    
    position: relative;
    ul {
        gap: 5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    ul li {
        list-style: none;
        display: flex;
        align-items: center;
    }

    ul li a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #718EBF;
        gap: 10px;
        font-family: "Inter", sans-serif;
    }
    span{
        color: blue;
    }
}
.navbar-menu span::before{
    content: '';
    position: absolute;
    top: 43px;
    left: 158px;
    width: 8.9%;
    height: 2%;
    background-color: blue;
    border: 2px solid blue;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}
/* end navbar section */
html{
  font-family: "Inter", sans-serif;
}
.first-short-div{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  margin-bottom: 0.8rem;
}
.part-1{
  /* border: 2px solid green; */
  width: 72%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  h2{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  }
}
.part-2{
  /* border: 2px solid teal; */
  width: 20%;
  display: flex;
  align-items: center;
  h2{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  }
}
.full-main-div{
  /* border: 2px solid teal; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.first-div-of-mainpage{
  /* border: 2px solid blue; */
  width: 70%;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 0.5rem;
}
.second-div-of-mainpage{
  /* border: 2px solid green; */
  width: 25%;
  background-color: white;
  height: 84%;
  border-radius: 20px;
  padding: 0.6rem 0.8rem;
}
.navbar-div{
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1rem 0.5rem;
  margin-bottom: 0.9rem;
  position: relative;
  ul{
    display: flex;
    justify-content: space-evenly;
  }
  ul li{
    list-style: none;
  }
  ul li a{
    text-decoration: none;
    color: #718EBF;
    font-family: "Inter", sans-serif;
  }
  span{
    color: blue;
  }
}
.navbar-div span::before{
  content:"";
  background-color: blue;
  border: 2px solid blue;
  width: 3.9rem;
  position: absolute;
  top: 48px;
  left: 219px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}

.add-social-main{
  /* border: 2px solid black; */
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}
.add-social{
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7b7b7b3f;
  border-radius: 34px;
}
.add-social-content{
  background-color: blue;
  width: 50%;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    text-decoration: none;
  }
  h4{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500; 
  }
}
.add-content{
  background-color: transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 34px;
  a{
    text-decoration: none;
  }
  h4{
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
}
.div-add-main{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}
.plus-div{
  border: 1px solid blue;
  /* width: 15%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 2rem;
  border-radius: 34px;
  a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.3rem 2rem;
            
  }
  h4{
    font-family: "Inter", sans-serif;
  }
}
.toggle-main-div{
  /* border: 2px solid purple; */
  width: 100%;
  padding: 1rem 1rem 0  1rem ;
  margin-bottom: 1rem;
}
.email-toggle-div{
  /* border: 2px solid red; */
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.email-part-1{
  width: 30%;
  display: flex;
  align-items: center;
  img{
    margin-right: 12px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  h4{
    font-weight: 500;
  }
}
.email-part-2{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  gap: 10px;
  /* toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 30px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 25px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #16DBCC;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #16DBCC;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
}
.content-end{
  /* border: 2px solid red; */
  h5{
    font-size: 0.9rem;  
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #5f5f5f;
   } 
}
.bottom-content-div{
  /* border: 2px solid red; */
  margin-bottom: 1rem;
  padding: 0 1rem;
  h3{
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }
  p{
    color: #5f5f5f;
    font-size: 0.8rem;
  }
}
.top-bottom-selecter-div{
  /* border: 2px solid red; */
  padding: 0 1rem;
  h3{
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
  }  
}
/* End fisrt div  of main section */
    
/* second div of main start */
.bell-div-main{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.bell-div-circle{
  border: 1px solid rgba(0, 0, 0, 0.479);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  
}
.dp-main{
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.dp-profile{
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000;
}
.content-astro-main{
  /* border: 2px solid purple; */
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3{
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
  }
  img{
    filter: grayscale();
  }
  h4{
    font-size: 1rem;
    font-weight: 500;
    margin-right: 0.7rem;
    font-family: "Inter", sans-serif;
  }
}
.social-links-div{
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.thumbnail-text{
  /* border: 2px solid red; */
  text-align: center;
  margin-bottom: 1rem;
  p{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }
}
.join-div-main{
  /* border: 2px solid purple; */
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  background-color: #fdaf81;
  border-radius: 34px;
  padding: 0.4rem 0.5rem;
}
.join-div-1{
  width: 3rem;
  height:3rem;
  background-color: #9146ff;
  border: 1px solid #9146ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.join-div-2{
  /* border: 2px solid aqua; */
  text-align: center;
  padding: 0 4.5rem;
  p{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
}
.text-links{
  /* border: 2px solid yellow; */
  text-align: center;
  margin-bottom: 1rem;
  p{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
}
.div-of-bottoms-main{
  /* border: 2px solid salmon; */
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  padding: 0.4rem 0.5rem;
  border-radius: 34px;
  background-color: #c5c5c5;
}
.bottom-div-1{
  border: 1px solid #5f5f5f;
  background-color: #5f5f5f;
  filter: grayscale();
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-div-2{
  /* border: 2px solid red; */
  text-align: center;
  padding: 0 5.3rem;
  p{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
}
.bottom-2nd-div-main{
  /* border: 2px solid palevioletred; */
  display: flex;
  align-items: center;
  background-color: #c5c5c5;
  border-radius: 34px;
  padding: 0.4rem 0.5rem;

}
.bottom-2nd-part-1{
  /* border: 2px solid blue; */
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5f5f5f;
  border-radius: 50%;
  position: relative;
  filter: grayscale();
}
.bottom-2nd-part-2{
  text-align: center;
  padding: 0 4rem;
  p{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
} 
}

/* End page section */


/* media quary */
/*** navbar quary  1549px ****/
@media only screen and (max-width:1540px){
 
  .navbar-menu {
      width: 85%;
      font-size: 12px;
   
      ul li a img{
          width: 20px;
          height: auto;
      }
  }
  .download-div {
      font-size: 12px;
      img {
          width: 20px;
          height: auto;
      }
  }
}
/*** navbar quary  1549px ****/

/*** navbar quary  1290px ****/
@media only screen and (max-width:1290px){
  
  .navbar-menu {
      width: 85%;
      font-size: 10px;
      ul {
          gap: 4rem;
      }
      ul li a img{
          width: 15px;
          height: auto;
      }
  }
  .download-div {
      font-size: 12px;
      img {
          width: 20px;
          height: auto;
      }
  }
}
/*** navbar quary  1290px ****/

@media only screen and (max-width:1090px){
  
  .navbar-menu {
      font-size: 10px;
      ul {
          gap: 2rem;
      }
  }
  .download-div {
      font-size: 10px;
      img {
          width: 15px;
          height: auto;
      }
  }
 /**** navbar quary ***/
}


@media only screen and (max-width:768px){

  /****** logo section ******/
  .logo-section {
      padding: 0.8rem 2rem 0.3rem 1rem;
      width: 96%;
  }
  
  .logo-div {
      img {
          width: 8rem;
      }
  }
  
  .logo-section-2nd-div {
      gap: 20px;
  
      .img-1 {
          width: 1.2rem;
          height: 1.2rem;
          filter: drop-shadow(0px, 4px, 4px, 0px, #000);
      }
  
      .img-2 {
          width: 1.2rem;
          height: 1.2rem;
      }
  
      .img-3 {
          width: 2.5rem;
          border-radius: 50%;
          overflow: hidden;
      }
  }
  /****** logo section ******/
  
  /**** navbar section ****/
  .section-navbar {
      width: 95%;
  }
  .navbar-menu {
      width: 92%;
      font-size: 10px;
      
      ul{
          gap: 1.7rem;
      }
      ul li a img{
          width: 10px;
          height: auto;
      }
  }
  .download-div {
      width: 14%;
      gap: 5px;
      font-size: 8px;
      img {
          width: 10px;
          height: auto;
      }
  }

.navbar-menu span::before{
  content: '';
  position: absolute;
  top: 29px;
  left: 73px;
  width: 12%;
  height: 2%;
  background-color: blue;
  border: 2px solid blue;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

}
/*** End navbar section ***/

.add-social{
  width: 100%;
}

body{
  background-color: #f0f0f0;
  padding: 0 0.5rem;
}

.add-social-main{
  width: 55%;
}


.plus-div{
  width: 50%;
}

.div-add-main{
  width: 55%;
  
}

.toggle-main-div{
  width: 55%;
}
.bottom-content-div{
  width: 55%;
}
.top-bottom-selecter-div{
  width: 55%;
}

.first-div-of-mainpage{
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

.second-div-of-mainpage{
  /* border: 2px solid green; */
  width: 43%;
  background-color: #fdae8160;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.part-2{
  /* border: 2px solid teal; */
  position: absolute;
  top: 17.5rem;
  right: 12rem;
  z-index: 1;
}

.bell-div-circle{
  border: 1px solid rgba(0, 0, 0, 0.267);
  background-color: #fdae8160;  
}


.join-div-2{
  padding: 0 2rem;
}


.bottom-div-2{
  padding: 0 2.5rem;
}


.bottom-2nd-part-2{
  padding: 0 1.5rem;
}


.navbar-div{
  position: relative;
  ul li a{
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
  }
}


.add-content{
  h4{
    margin-right:30px ;
  }
}

.navbar-div span::before{
  content:"";
  background-color: blue;
  border: 2px solid blue;
  width: 3.9rem;
  position: absolute;
  top: 48px;
  left: 137px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}
}

/* end media quary section */


