*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
  }
  /****** logo section ******/
  .logo-section {
      padding: 0.8rem 2.3rem 0.3rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .logo-div {
      img {
          width: 9rem;
      }
  }

  .logo-section-2nd-div {
      width: 10%;
      gap: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .img-1 {
          width: 1.3rem;
          height: 1.4rem;
          filter: drop-shadow(0px, 4px, 4px, 0px, #000);
      }
  
      .img-2 {
          width: 1.3rem;
          height: 1.4rem;
      }
  
      .img-3 {
          width: 3rem;
          height: auto;
          border-radius: 50%;
          overflow: hidden;
      }
  }
  /****** logo section ******/
  /****Start navbar section ****/
  .section-navbar-main {
      padding: 0.8rem 1.5rem 0.8rem 0.4rem;
      display: grid;
      place-items: center;
  }
  .section-navbar {
      background-color: white;
      width: 98%;
      padding: 1.3rem 0 1.3rem 1.5rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: left;
  }
  .navbar-menu {
      /* border: 2px solid red; */
      display: flex;
      align-items: center;    
      ul {
          gap: 5rem;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
      }
      ul li {
          list-style: none;
          display: flex;
          align-items: center;
      }
  
      ul li a {
          text-decoration: none;
          display: flex;
          align-items: center;
          color: #718EBF;
          gap: 10px;
          font-family: "Inter", sans-serif;
      }
      span{
          color: blue;
          position: relative;
      }
  }
  .navbar-menu span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: -20px;
      width: 130%;
      background-color: blue;
      border: 2px solid blue;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
  }
  /* end navbar section */

  .form-text-div{
    /* border: 2px solid red; */
    padding: 0 1rem;
    margin-bottom: 1rem;
    h1{
        color: #333B69;
        font-family: "Inter", sans-serif;
        font-weight: 600;
    }
  }
  .big-main-div{
    /* border: 2px solid teal; */
    padding: 0 1rem;

  }
  .indside-whtie-div{
    /* border: 2px solid blue; */
    background-color: white;
    border-radius: 20px;
  }
  .three-navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding: 1rem 0.5rem;
    ul{
        display: flex;
        justify-content: space-evenly;
        width: 30%;
    }
    ul li{
     list-style: none;
    }
    ul li a{
        text-decoration: none;
        font-family: "Inter", sans-serif;
        color: #718EBF;
    }
    span{
        color: blue;
        position: relative;
    }
  }
  .three-navbar span::before{
    content: "";
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    border: 2px solid blue;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .seven-navbar-div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    padding: 1rem 3rem;

    ul{
        display: flex;
        justify-content: space-between;
    }
    ul li{
        list-style: none;
    }
    ul li{
        text-decoration: none;
        font-family: "Inter", sans-serif;
        color: #718EBF;
    }
  }
  .contact-row{
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        padding: 1rem 1rem;
   ul{
    display: flex;
    /* justify-content: space-between; */
}
 ul li{
    list-style: none;
  }
  a{
        color: #232323;
        background-color: white;
        padding: 0.5rem 2rem;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 20px;
        border: 1px solid #232323;
        transition: all 0.4s ease-in-out;
    }
  }
  .contact-row a:hover{
    background-color: blue;
    color: white;
    border: 1px solid blue;
  }
  .contact-row ul :nth-child(1){
    margin-left: 2.9rem;
  }
  .contact-row ul :nth-child(2){
   margin-left: 11.5rem;
  }
  .contact-row ul :nth-child(3){
    margin-left: 10rem;
  }
  .contact-row ul :nth-child(4){
    margin-left: 8rem;
  }
  .contact-row ul :nth-child(5){
    margin-left: 7rem; 
  }
  .contact-row ul :nth-child(6){
    margin-left: 10rem;
  }
  .contact-row ul :nth-child(7){
    margin-left: 7rem;
    
  }



/* media quary */
/*** navbar quary  1549px ****/
@media only screen and (max-width:1540px){
 
    .navbar-menu {
        width: 85%;
        font-size: 12px;
     
        ul li a img{
            width: 20px;
            height: auto;
        }
    }
    .download-div {
        font-size: 12px;
        img {
            width: 20px;
            height: auto;
        }
    }
  }
  /*** navbar quary  1549px ****/
  
  /*** navbar quary  1290px ****/
  @media only screen and (max-width:1290px){
    
    .navbar-menu {
        width: 85%;
        font-size: 10px;
        ul {
            gap: 4rem;
        }
        ul li a img{
            width: 15px;
            height: auto;
        }
    }
    .download-div {
        font-size: 12px;
        img {
            width: 20px;
            height: auto;
        }
    }
  }
  /*** navbar quary  1290px ****/
  
  @media only screen and (max-width:1090px){
    
    .navbar-menu {
        font-size: 10px;
        ul {
            gap: 2rem;
        }
    }
    .download-div {
        font-size: 10px;
        img {
            width: 15px;
            height: auto;
        }
    }
   /**** navbar quary ***/
  }

  @media only screen and (max-width:768px){

    /****** logo section ******/
    .logo-section {
        padding: 0.8rem 2rem 0.3rem 1rem;
        width: 96%;
    }
    .logo-div {
        img {
            width: 8rem;
        }
    }
    .logo-section-2nd-div {
        gap: 20px;
    
        .img-1 {
            width: 1.2rem;
            height: 1.2rem;
            filter: drop-shadow(0px, 4px, 4px, 0px, #000);
        }
    
        .img-2 {
            width: 1.2rem;
            height: 1.2rem;
        }
    
        .img-3 {
            width: 2.5rem;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    /****** logo section ******/
    
    /**** navbar section ****/
    .section-navbar {
        width: 95%;
    }
    .navbar-menu {
        width: 92%;
        font-size: 10px;
        
        ul{
            gap: 1.7rem;
        }
        ul li a img{
            width: 10px;
            height: auto;
        }
    }
    .download-div {
        width: 14%;
        gap: 5px;
        font-size: 10px;
        img {
            width: 10px;
            height: auto;
        }
    }
  .navbar-menu span::before{
    content: '';
    position: absolute;
    top: 29px;
    left: -16px;
    width: 150%;
    height: 2%;
    background-color: blue;
    border: 2px solid blue;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  /*** End navbar section ***/
  .form-text-div{
    h1{
        font-weight: 500;
        font-size: 1.3rem;
    }
  }
  .three-navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding:  0.8rem 0.5rem;
    ul{
        width: 50%;
    }
    ul li a{
        font-size: 0.7rem;
    }
  }
  .three-navbar span::before{
    position: absolute;
    top: 25px;
    left: -3px;
    width: 110%;
  }

  .seven-navbar-div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    padding: 1rem 3.5rem;
    ul li a{
        font-size: 0.7rem;
    }
  }

  .indside-whtie-div{
    /* border: 2px solid blue; */
    background-color: white;
    border-radius: 20px;
  }

  .contact-row{
        border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        padding: 1rem 0.5rem;
  }
  .contact-row ul :nth-child(1){
    margin-left: 3rem;
    font-size: 0.7rem;

  }
  .contact-row ul :nth-child(2){
   margin-left: 4.5rem;
   font-size: 0.7rem;
  }
  .contact-row ul :nth-child(3){
    margin-left: 2.5rem;
   font-size: 0.7rem;

  }
  .contact-row ul :nth-child(4){
    margin-left: 1.5rem;
   font-size: 0.7rem;

  }
  .contact-row ul :nth-child(5){
    margin-left: 1.5rem; 
   font-size: 0.7rem;

  }
  .contact-row ul :nth-child(6){
    margin-left: 2.5rem;
   font-size: 0.7rem;

  }
  .contact-row ul :nth-child(7){
    margin-left: 0;
    
  }
}