 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    background-color: #f0f0f0;
}
/****** logo section ******/
.logo-section {
    padding: 0.8rem 2.3rem 0.3rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-div {
    img {
        width: 9rem;
    }
}
.logo-section-2nd-div {
    width: 10%;
    gap: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-1 {
        width: 1.3rem;
        height: 1.4rem;
        filter: drop-shadow(0px, 4px, 4px, 0px, #000);
    }

    .img-2 {
        width: 1.3rem;
        height: 1.4rem;
    }

    .img-3 {
        width: 3rem;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
    }
}
/****** logo section ******/
/****Start navbar section ****/
.section-navbar-main {
    padding: 0.8rem 1.5rem 0.8rem 0.4rem;
    display: grid;
    place-items: center;
}
.section-navbar {
    background-color: white;
    width: 98%;
    padding: 1.3rem 0 1.3rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
.navbar-menu {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;    
    ul {
        gap: 5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    ul li {
        list-style: none;
        display: flex;
        align-items: center;
    }

    ul li a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #718EBF;
        gap: 10px;
        font-family: "Inter", sans-serif;
        position: relative;

    }
    span{
        color: blue;
    }
}
.navbar-menu span::before{
    content: '';
    position: absolute;
    top: 43px;
    left: -1px;
    width: 110%;
    background-color: blue;
    border: 2px solid blue;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}
/* end navbar section */
.full-div{
    /* border: 2px solid teal; */
    width: 100%;
    padding: 0 1rem;
    margin-top: 1rem;
    
}
.inside-white-div{
    /* border: 2px solid blue; */
    border-radius: 20px;
    background-color: white;
    width: 100%;
    margin-bottom: 1rem;
}
.white-navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    ul{
        display: flex;
        justify-content: space-between;
        width: 35%;
    }
    ul li{
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: #718EBF  ;
        font-family: "Inter", sans-serif;

    }
    span{
        color: blue;
        position: relative;
    }
}
.white-navbar span::before{
    content: "";
    position: absolute;
    top: 33px;
    left: -5px;
    width: 110%;
    border: 2px solid blue ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.input-main{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}
.form-div{
    /* border: 2px solid indigo; */
    width: 30%;
}
.first-div{
    /* border: 2px solid deeppink; */
    margin-bottom: 1rem;
    p{
        color: #232323;
        margin-bottom: 0.5rem;
        font-family: "Inter", sans-serif;

    }
    input{
        width: 100%;
        padding: 1rem 1rem;
        border-radius: 15px;
        outline: none;
        border: 1px solid #718EBF;

    }
}
input::placeholder{
    color: #718EBF;
    font-family: "Inter", sans-serif;

}
.second-div{
    /* border: 2px solid red; */
    margin-bottom: 1rem;
    p{
        color: #232323;
        margin-bottom: 0.5rem;
        font-family: "Inter", sans-serif;
    }
    input{
        width: 100%;
        padding: 1rem 1rem;
        border-radius: 15px;
        outline: none;
        border: 1px solid #718EBF;
    }
}
.notification-div{
    /* border: 2px solid blue; */
    margin-bottom: 1rem;
    p{
        color: #718EBF;
        font-size: 1.4rem;
    }
}
.recieve-div{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
    p{
        font-family: "Inter", sans-serif;
        color: #232323;
    }
}
.btn-main{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    a{
        text-decoration: none;
        padding: 0.8rem 4rem;
        background-color: blue;
        color: white;
        font-family: "Inter", sans-serif;
        border-radius: 10px;
        border: 1px solid blue;
        transition: all 0.4s ease-in-out;
    }
}
.btn-main a:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
  /* toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 30px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 25px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #16DBCC;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #16DBCC;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

/* media quary */
/*** navbar quary  1549px ****/
@media only screen and (max-width:1540px){
 
    .navbar-menu {
        width: 85%;
        font-size: 12px;
     
        ul li a img{
            width: 20px;
            height: auto;
        }
    }
    .download-div {
        font-size: 12px;
        img {
            width: 20px;
            height: auto;
        }
    }
  }
  /*** navbar quary  1549px ****/
  
  /*** navbar quary  1290px ****/
  @media only screen and (max-width:1290px){
    
    .navbar-menu {
        width: 85%;
        font-size: 10px;
        ul {
            gap: 4rem;
        }
        ul li a img{
            width: 15px;
            height: auto;
        }
    }
    .download-div {
        font-size: 12px;
        img {
            width: 20px;
            height: auto;
        }
    }
  }
  /*** navbar quary  1290px ****/
  
  @media only screen and (max-width:1090px){
    
    .navbar-menu {
        font-size: 10px;
        ul {
            gap: 2rem;
        }
    }
    .download-div {
        font-size: 10px;
        img {
            width: 15px;
            height: auto;
        }
    }
   /**** navbar quary ***/
  }

  @media only screen and (max-width:768px){

    /****** logo section ******/
    .logo-section {
        padding: 0.8rem 2rem 0.3rem 1rem;
        width: 96%;
    }
    .logo-div {
        img {
            width: 8rem;
        }
    }
    .logo-section-2nd-div {
        gap: 20px;
    
        .img-1 {
            width: 1.2rem;
            height: 1.2rem;
            filter: drop-shadow(0px, 4px, 4px, 0px, #000);
        }
    
        .img-2 {
            width: 1.2rem;
            height: 1.2rem;
        }
    
        .img-3 {
            width: 2.5rem;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    /****** logo section ******/
    
    /**** navbar section ****/
    .section-navbar {
        width: 95%;
    }
    .navbar-menu {
        width: 92%;
        font-size: 10px;
        
        ul{
            gap: 1.7rem;
        }
        ul li a img{
            width: 10px;
            height: auto;
        }
    }
    .download-div {
        width: 14%;
        gap: 5px;
        font-size: 8px;
        img {
            width: 10px;
            height: auto;
        }
    }
  .navbar-menu span::before{
    content: '';
    position: absolute;
    top: 29px;
    left: 0;
    width: 120%;
    background-color: blue;
    border: 2px solid blue;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  
  }
  /*** End navbar section ***/

  .white-navbar{
    ul{
        width: 50%;
    }
    ul li a{
        font-size: 0.7rem;
    }
    span{
        color: blue;
        position: relative;
    }
}
.white-navbar span::before{
    position: absolute;
    top: 28px;
    left: -5px;
    width: 110%;
}
  .input-main{
    justify-content: left;
    padding: 0 2rem;
}
  .form-div{
    /* border: 2px solid indigo; */
    width: 60%;
}


.btn-main{
    /* border: 2px solid red; */
    justify-content: left;
    margin-top: 2rem;
    a{
        padding: 0.5rem 3rem;
    }
}
  }